---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[How Do I：]發佈和分析測試結果？ | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System 可讓您在專案進行時，圖表專案的程式碼品質變更。 這段影片提供如何 publ 的相關指示。
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: zh-TW
ms.lasthandoff: 03/06/2020
ms.locfileid: "78641187"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[How Do I：]發佈和分析測試結果？

依[Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System 可讓您在專案進行時，圖表專案的程式碼品質變更。 這段影片提供如何將測試結果發行至 Team Foundation Server project 資料庫，以及將結果與組建編號產生關聯的指示。 我們會看到在發佈結果之後，我們可以使用報表管理員來以圖形方式呈現我們的組建測試結果中的變更。

[&#9654;觀看影片（7分鐘）](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [上一頁](how-do-i-use-generic-tests.md)
> [下一頁](how-do-i-discover-application-changes-prior-to-deployment.md)
