---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[How Do i:]發佈及分析測試結果嗎？ | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System 可讓您在專案的程式碼品質的圖表變更隨著專案進展。 這段影片說明如何 publ....
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: 0f1119340e4464720cfd16d0ff15764746ea1fea
ms.translationtype: MT
ms.contentlocale: zh-TW
ms.lasthandoff: 04/09/2019
ms.locfileid: "59413499"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[How Do i:]發佈及分析測試結果嗎？

藉由[Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System 可讓您在專案的程式碼品質的圖表變更隨著專案進展。 這段影片說明如何將測試結果發行至 Team Foundation Server 專案資料庫，並將結果產生關聯的組建編號。 我們看到，結果會發佈之後我們可以使用報表管理員來檢視變更的圖形表示法中我們組建的測試結果。

[&#9654;觀看影片 （7 分鐘）](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [上一頁](how-do-i-use-generic-tests.md)
> [下一頁](how-do-i-discover-application-changes-prior-to-deployment.md)
