---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[How Do I：]發佈和分析測試結果？ | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System 可讓您在專案進行時，圖表專案的程式碼品質變更。 這段影片提供如何 publ 的相關指示。
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: zh-TW
ms.lasthandoff: 03/06/2020
ms.locfileid: "78641187"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="73899-105">[How Do I：]發佈和分析測試結果？</span><span class="sxs-lookup"><span data-stu-id="73899-105">[How Do I:] Publish and Analyze Test Results?</span></span>

<span data-ttu-id="73899-106">依[Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="73899-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="73899-107">Visual Studio Team System 可讓您在專案進行時，圖表專案的程式碼品質變更。</span><span class="sxs-lookup"><span data-stu-id="73899-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="73899-108">這段影片提供如何將測試結果發行至 Team Foundation Server project 資料庫，以及將結果與組建編號產生關聯的指示。</span><span class="sxs-lookup"><span data-stu-id="73899-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="73899-109">我們會看到在發佈結果之後，我們可以使用報表管理員來以圖形方式呈現我們的組建測試結果中的變更。</span><span class="sxs-lookup"><span data-stu-id="73899-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="73899-110">&#9654;觀看影片（7分鐘）</span><span class="sxs-lookup"><span data-stu-id="73899-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="73899-111">[上一頁](how-do-i-use-generic-tests.md)
> [下一頁](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="73899-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
